<div class="containerHome">
    <header>
        <h1 class="titleHome">FileQuery</h1>
    </header>
    <div class="return-back">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
    </div>

    <div class="teams-list">
        <h1 class="categoriaOculta" style="display: none;" >{{category}}</h1>
        <h2>Select of who you want to know the {{category}}</h2>
        <ul class="team-names">
            {{#each teams}}
                <li class="team"><a href="#" class="team-link">{{this}}</a></li>
            {{/each}}
        </ul>

        <div class="answear" >
            <h2>Answear: </h2>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 FileQuery. All rights reserved.</p>
    </footer>
</div>

<script src="/js/category.js"></script>
