*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.containerHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  align-items: center;
}

header{
    width: 100%;
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    background-color: black;
    height: 20vh;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.titleHome{
    color: white;
    font-size: 60px; 
    text-decoration: underline;
}

.insertFile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  flex-direction: column;
}

.card {
    width: 22%;
    height: 90%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    margin: 10px;
}

.card2 {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
   
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
   
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.titleCard{
    color: white;
    font-size: 40px; 
}

.input-div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(1, 235, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    animation: flicker 2s linear infinite;
}
  
.icon {
    color: rgb(1, 235, 252);
    font-size: 2rem;
    cursor: pointer;
    animation: iconflicker 2s linear infinite;
}
  
.input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
}
  
@keyframes flicker {
    0% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  
    5% {
      border: none;
      box-shadow: none;
    }
  
    10% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  
    25% {
      border: none;
      box-shadow: none;
    }
  
    30% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  
    100% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
}
  
@keyframes iconflicker {
    0% {
      opacity: 1;
    }
  
    5% {
      opacity: 0.2;
    }
  
    10% {
      opacity: 1;
    }
  
    25% {
      opacity: 0.2;
    }
  
    30% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
}


.howToUse {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 40%;
  height: 15%;
  border-radius: 10px;
  margin: 10px;
}


.howToUse h3{
  font-size: 30px;
}


.upload-message {
  display: none;
  justify-content: center;
  margin: 11px;
}


.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EDFBD8;
  border-radius: 8px;
  border: 1px solid #84D65A;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #84D65A;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #2B641E;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #2B641E;
}




.loader {
  --background: linear-gradient(135deg, #23C4F8, #275EFE);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 176px;
  position: relative;
  display: none;
  flex-direction: column;
}

.loader:before, .loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 8px;
  text-align: center;
  color: var(--text);
  font-size: 22px;
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35%, 100% {
    opacity: 0;
  }

  50%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  50%, 100% {
    opacity: 0;
  }

  65%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  65%, 100% {
    opacity: 0;
  }

  80%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  80%, 100% {
    opacity: 0;
  }

  95%, 100% {
    transform: rotateY(0deg);
  }
}


.no-upload-message{
  display: none;
  justify-content: center;
  margin: 11px;
}



.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}













/* CATEGORIES */











.sectionCategories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 72vh;
  width: 100%;
  align-content: center;
}

.return-back {
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 11px;
}

.return-back svg {
  width: 40px;
  height: 40px;
}


.return-back:hover{
  transform: scale(1.2);
  transition-duration: 0.7s;
  cursor: pointer;
}


.categories-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 38%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}



.categories-container h2 {
    font-size: 50px;
    margin-bottom: 55px;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-list li {
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.category-list li:hover {
    color: blue;
}







/* cateogry */







.teams-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 26px 30px 26px;
}

.teams-list h2{
  font-size: 35px;
}

.team-names {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team {
  font-size: 25px;
  padding: 11px;
  margin: 16px;
}





@media (max-width: 1337px){
  .howToUse h3 {
    font-size: 25px;
  }
}



@media (max-width: 706px){
  .howToUse h3 {
    font-size: 16px;
  }

  .card {
    width: 57%;
    height: 90%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    margin: 10px;
  }

  .howToUse {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 57%;
    height: 15%;
    border-radius: 10px;
    margin: 10px;
  }

  .team {
    font-size: 17px;
    padding: 8px;
    margin: 12px;
  }

  .teams-list h2 {
    font-size: 35px;
    margin: 20px;
  }

  .categories-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    height: 55vh;
  }
}



@media (max-width: 340px){
  .insertFile{
    height: 80vh;
  }

  .howToUse {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 83%;
    height: 15%;
    border-radius: 10px;
    margin: 10px;
  }

  .howToUse h3 {
    font-size: 18px;
    margin: 2px;
  }

  .card {
    width: 82%;
    height: 65%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    margin: 10px;
  }

  .titleCard {
    color: white;
    font-size: 32px;
  }

  .categories-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
  }

  .category-list {
    list-style: none;
    padding: 0px;
    margin: 4px;
  }

  footer {
    width: 100%;
    background-color: black;
    height: 20vh;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
  }


  .teams-list h2 {
    font-size: 27px;
    margin: 11px;
  }

  .team {
    font-size: 14px;
    padding: 6px;
    margin: 6px;
  }

  .teams-list h2 {
    font-size: 22px;
    margin: 10px;
  }

  .titleHome {
    color: white;
    font-size: 49px;
    text-decoration: underline;
  }
}